* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik";
  font-size: 16px;
}

p {
  color: hsl(211, 10%, 45%);
  line-height: 1.5em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(228, 33%, 97%);
  padding-top: 5vh;
}

.main-page-container {
  width: 90%;
}
@media (min-width: 767px) {
  .main-page-container {
    max-width: 70%;
  }
}
@media (min-width: 1200px) {
  .main-page-container {
    max-width: 60%;
  }
}

#comments-section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.comment, .add-comment-container, .dropdown-container {
  background-color: hsl(0, 0%, 100%);
  padding: 1em;
  border-radius: 8px;
}

.dropdown-container {
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0.75em;
  font-size: 16px;
  color: hsl(211, 10%, 45%);
  font-weight: 400;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: 1px solid hsl(223, 19%, 93%);
  padding: 0.25em 0.5em;
  margin: 0 0 0 0.5em;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  cursor: pointer;
  line-height: 1.1;
  border-radius: 4px;
  background-color: hsl(228, 33%, 97%);
}

.comment-tree-grid-container {
  display: grid;
  grid-template-columns: 0.75em 1fr;
  grid-template-rows: max-content auto;
  grid-column-gap: 0px;
}
.comment-tree-grid-container .parent-comment {
  grid-area: 1/1/2/3;
}
.comment-tree-grid-container .divider {
  grid-area: 2/1/3/2;
  border-left: 2px solid hsl(223, 19%, 93%);
  display: none;
}
.comment-tree-grid-container .child-comment-gridblock {
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 767px) {
  .comment-tree-grid-container {
    grid-template-columns: 1em 1fr;
  }
}
@media (min-width: 1200px) {
  .comment-tree-grid-container {
    grid-template-columns: 2em 1fr;
  }
}

.comment-tree-grid-container:has(.child-comment-gridblock > *) {
  grid-row-gap: 1em;
}
.comment-tree-grid-container:has(.child-comment-gridblock > *) .divider {
  display: block;
}

.comment {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, min-content);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
@media (min-width: 767px) {
  .comment {
    grid-template-columns: auto 1.5fr max-content;
    grid-template-rows: min-content auto;
    grid-column-gap: 1.3em;
  }
}

.vote-container-gridblock {
  grid-area: 3/1/4/2;
}
@media (min-width: 767px) {
  .vote-container-gridblock {
    grid-area: 1/1/3/2;
  }
}

.comment-meta-gridblock {
  grid-area: 1/1/2/3;
}
@media (min-width: 767px) {
  .comment-meta-gridblock {
    grid-area: 1/2/2/3;
  }
}

.reply-bar-gridblock {
  grid-area: 3/2/4/3;
}
@media (min-width: 767px) {
  .reply-bar-gridblock {
    grid-area: 1/3/2/4;
  }
}

.comment-content-gridblock {
  grid-area: 2/1/3/3;
}
@media (min-width: 767px) {
  .comment-content-gridblock {
    grid-area: 2/2/3/4;
  }
}

.comment > [class*=-gridblock] {
  display: flex;
  flex-direction: row;
}

.reply-bar-gridblock {
  align-items: center;
  justify-content: flex-end;
}
.reply-bar-gridblock .reply-edit-bar > button:not(:last-child) {
  margin-right: 1em;
}
.reply-bar-gridblock .reply-edit-bar svg {
  position: relative;
  top: 2px;
}

.comment-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.comment-meta .user-avatar {
  height: 30px;
  width: 30px;
  border-radius: 10em;
  background-color: hsl(211, 10%, 45%);
}
.comment-meta .username {
  font-size: 16px;
  color: hsl(212, 24%, 26%);
  font-weight: 500;
}
.comment-meta .time-ago {
  font-size: 16px;
  color: hsl(211, 10%, 45%);
  font-weight: 400;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.reply-btn, .vote-container {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}

.delete-btn {
  color: hsl(358, 79%, 66%);
  font-weight: 500;
}

.vote-container {
  background-color: hsl(223, 19%, 93%);
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  min-width: 100px;
  max-height: 120px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}
.vote-container .vote-btn {
  height: 16px;
  width: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vote-container .btn-img {
  margin: auto;
  width: inherit;
  height: auto;
}
@media (min-width: 767px) {
  .vote-container {
    flex-direction: column;
    min-width: 100%;
    min-height: 100px;
    max-height: 100px;
  }
}

.you-flag {
  background-color: hsl(238, 40%, 52%);
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  padding: 0.2em 0.5em;
}

.add-comment-container {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: max-content min-content;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
@media (min-width: 767px) {
  .add-comment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
  }
}
.add-comment-container .user-avatar {
  grid-area: 2/1/3/2;
  height: 40px;
  width: 40px;
}
@media (min-width: 767px) {
  .add-comment-container .user-avatar {
    flex-basis: 40px;
  }
}
.add-comment-container .add-comment__input-container {
  grid-area: 1/1/2/4;
}
@media (min-width: 767px) {
  .add-comment-container .add-comment__input-container {
    flex-basis: auto;
    width: 100%;
    height: 100%;
  }
}
.add-comment-container .add-comment__btn {
  grid-area: 2/3/3/4;
  color: hsl(0, 0%, 100%);
  background-color: hsl(238, 40%, 52%);
  border-radius: 8px;
  font-weight: 500;
  padding: 0.75em 1.5em;
  height: -moz-fit-content;
  height: fit-content;
}
@media (min-width: 767px) {
  .add-comment-container .add-comment__btn {
    flex: 0 1 auto;
  }
}

.edit-comment__btn {
  color: hsl(0, 0%, 100%);
  background-color: hsl(238, 40%, 52%);
  border-radius: 8px;
  font-weight: 500;
  padding: 0.75em 1.5em;
  height: -moz-fit-content;
  height: fit-content;
}
@media (min-width: 767px) {
  .edit-comment__btn {
    flex: 0 1 auto;
  }
}

.textarea-container {
  width: 100%;
}

.edit-container {
  gap: 1em;
}

.submit-comment__input {
  padding: 0.5em 1em;
  resize: none;
  width: 100%;
  height: 6em;
  border-radius: 8px;
  border: 1px solid hsl(223, 19%, 93%);
}

.submit-comment__input:focus {
  outline: 1px solid hsl(238, 40%, 52%);
}

.error-modal {
  position: fixed;
  bottom: 10px;
  left: 45vw;
  background-color: hsl(358, 79%, 66%);
  color: hsl(223, 19%, 93%);
  font-size: 12px;
  min-width: 20px;
  padding: 1em;
}

.fade-in-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
}

.fade-in-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.delete-comment-modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  align-content: center;
  display: none;
}
.delete-comment-modal .modal-content {
  border-radius: 8px;
  position: relative;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  padding: 2em;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.delete-comment-modal h2 {
  font-size: 20px;
  color: hsl(212, 24%, 26%);
}
.delete-comment-modal p {
  margin: 1em 0em;
}
.delete-comment-modal button {
  padding: 1em 1.5em;
  font-weight: 500;
  flex: 1;
}
.delete-comment-modal .cancel-btn {
  color: hsl(0, 0%, 100%);
  background-color: hsl(211, 10%, 45%);
  border-radius: 8px;
}
.delete-comment-modal .confirm-delete-btn {
  color: hsl(0, 0%, 100%);
  background-color: hsl(358, 79%, 66%);
  border-radius: 8px;
}
.delete-comment-modal .delete-btn-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}

.login-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  align-content: center;
}
.login-modal-container .login-modal {
  border-radius: 8px;
  position: relative;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  padding: 2em;
  width: 90%;
  min-height: 10vh;
  z-index: 3;
  max-width: 600px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-modal-container h2 {
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.login-modal-container label {
  margin-top: 1em;
}
.login-modal-container input {
  border: 1px solid hsl(223, 19%, 93%);
  height: 2em;
  padding-left: 0.75em;
}
.login-modal-container button {
  padding: 1em 1.5em;
  font-weight: 500;
  flex: 1;
}
.login-modal-container .login-button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(211, 10%, 45%);
  border-radius: 8px;
}
.login-modal-container .register-button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(238, 40%, 52%);
  border-radius: 8px;
}

.login-modal-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.background-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none !important;
}

button {
  transition: all 150ms;
  position: relative;
}

button:not(.vote-btn):hover {
  filter: brightness(125%);
}

button:not(.vote-btn):active {
  filter: brightness(80%);
  transition-duration: 50ms;
  top: 2px;
}

.vote-btn:hover {
  filter: brightness(90%);
  transform: scale(1.05);
}

.vote-btn:active {
  filter: brightness(60%);
  transition-duration: 50ms;
  top: 2px;
}

.vote-btn.active {
  filter: brightness(50%);
}

.deleted-comment .comment-content, .deleted-comment .username {
  opacity: 70%;
}/*# sourceMappingURL=styles.css.map */